html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: white;
    text-shadow: 1px 1px black;
}

body {
    background-image: url("img/stage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#foreground {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("img/foreground.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

#intro-container {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drape {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform cubic-bezier(0.45, 0.25, 0.60, 0.95) 1s;
    background-position-y: 20%;
}

.drape--left {
    background-image: url("img/left.png");
    right: 50%;
}

.drape--left.drape--out {
    transform: translateX(-100%);
}

.drape--right {
    background-image: url("img/right.png");
    right: 0;
}

.drape--right.drape--out {
    transform: translateX(100%);
}

.intro-container__text-container {
    position: relative;
    z-index: 1;
}

.intro-container__text-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit;
}

#page-container {
    visibility: hidden;
    width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 175px 0;
}

#gifts-container {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-gap: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gift__title {
    font-size: 35px;
}

.gift__image {
    width: 150px;
}

#qrcode-container {
    margin-top: 75px;
}

.qrcode {
    width: 200;
    height: 200;
}

.qrcode-text {
    text-align: center;
    margin-top: 8px;
}

.gift__link,
.qrcode-text__link {
    color: inherit;
}
